<hr>
<div class="container">
<table class="table table-striped">
      <thead>
        <tr>
          <th>Código:</th>
          <th>Hotelaria:</th>
          <th>Cnpj:</th>
          <th>Email</th>
          <th>Telefone:</th>
          <th>Cidade:</th>
          <th>Edição:</th>
          <th>Remoção:</th>
        </tr>
      </thead>
      <tbody>
      	<tr *ngFor="let hotelaria of hotelarias; let i = index">
      		
      		<th scope="row">
      			{{ i + 1 }}
      		</th>

	      	<td>
	      		{{ hotelaria.nomeHot }}
	      	</td>
      	
      		<td>
				{{ hotelaria.cnpj }}
			</td>

			<td>
				{{ hotelaria.email }}
			</td>

			<td>
				{{ hotelaria.fone }}
			</td>

			<td>
				{{ hotelaria.city }}
			</td>
	        
	        <td> 
	         	<button type="button" class="btn btn-info" (click)="onEdit(i)"><i class="fa fa-refresh" aria-hidden="true"></i>  Edit</button>
	         </td>
	         
	         <td>
	           <button type="button" class="btn btn-danger" (click)="onDelete(i)"><i class="fa fa-minus-square" aria-hidden="true"></i>   Delete</button>
	         </td>
        </tr>
      </tbody>
    </table>
     <div class="text-right">
      <button type="submit" class="btn btn-primary" (click)="onNew()"><i class="fa fa-plus" aria-hidden="true"></i>  New</button>
    </div>
<hr>
<div class="regentry" *ngIf="showNew">
	<form (ngSubmit)="onSave()" class="form-inline">
		<div class="form-group row">
	        <label for="nomeHot-input" class="col-2 col-form-label">Hotelaria:<span style="color: red">*</span><br/>
				<input type="text" tabindex="1" class="form-control" [(ngModel)]="regModel.nomeHot" tabindex="1" placeholder="Nome Completo ..." id="hotel" name="hotel" />
			</label>
		</div>
	<br/><br/>
		<div class="form-group row">
	      <label for="cnpj-input" class="col-2 col-form-label">Cnpj:<span style="color: red">*</span><br/>
				<input type="text" class="form-control" tabindex="2" [(ngModel)]="regModel.cnpj" name="cnpj" placeholder="99.999.999/9999-99" id="cpnj">
		 </label>
	    </div>
	<br/><br/>
		<div class="form-group row">
	      <label for="fone-input" class="col-2 col-form-label"> Telefone:<span style="color: red">*</span><br/>
				<input type="text"  class="form-control" tabindex="3" name="fone" [(ngModel)]="regModel.fone" placeholder="(99)99999-9999" id="fone" />
		 </label>
		</div>

	<br/><br/>
		<div class="form-group row">
	       <label for="email-input" class="col-2 col-form-label"> Email:<span style="color: red">*</span><br/>
				<input type="text" class="form-control" tabindex="4" [(ngModel)]="regModel.email" name="email" id="email" placeholder="mail@mail.com"> 
			</label>
		</div>
	<br/><br/>
	  <div class="form-group row">
        <label for="city-input" class="col-2 col-form-label">Cidade:<span style="color: red">*</span></label>
        	
        <select class="form-control" name="city" id="city" [(ngModel)]="regModel.city" class="select-option">
        		<option [value]="city">{{city}}</option>
    			<option class='city' *ngFor='let city of citys' [value]="city">{{city}}</option>
		</select>
      </div>
	<br/><br/>
		<div class="form-group row">
	       <label for="file-input" class="col-2 col-form-label">   Imagem:<span style="color: red">*</span><br/><br/>
				<input type="file" class="form-control" tabindex="6" (change)="onFileUpload($event)"  id="file" accept="image/png" /> 
		   </label>
		</div>
		<br/><br/>
	    <button type="submit" class="btn btn-success"><i class="fa fa-check"  aria-hidden="true"></i>  {{submitType}}</button>
		<button type="submit" class="btn btn-danger" (click)="onCancel()"><i class="fa fa-times" aria-hidden="true"></i>  Cancel</button>
	</form>
</div>
</div>