<div class="col-md-6" style="padding-right:20px">
	<h2 class="tc-sub2">
		Como funciona o Turismocity? Por que tem os menores preços?</h2>
	<p class="text">
		<span>Quando você pesquisa no Turismocity, nós fazemos o trabalho pesado. Procuramos rapidamente em mais de 100 agências de viagens diferentes, cotamos as diferentes tarifas, e oferecemos para você as opções com melhor preço. Você faz apenas uma pesquisa; nós, muitas. Assim, você pode fazer sua reserva rapidamente, sabendo que a tarifa que escolheu para sua viagem é a melhor do mercado. Viajar é desfrutar. Por isso, não queremos fazer você perder tempo.</span></p>

	<h2 class="tc-sub2">
		Para onde posso encontrar passagens no Turismocity?</h2>
	<p class="text">
		<span >A tecnologia do TurismoCity lhe permite encontrar viagens para os principais destinos nacionais e internacionais.O que você pesquisar, você vai encontrar. Simples assim.</span></p>
	<h2 class="tc-sub2">
		E se não sei para onde viajar, o que me recomendam?</h2>
		<p class="text"><span>Diariamente nos encarregamos de reunir as melhores ofertas de viagens disponíveis no mercado para que planejar sua viagem seja o mais simples possível.Se você queria encontrar as melhores ofertas de viagens em apenas um lugar, TurismoCity é a página de viagens que você estava procurando.</span></p>
	<br/><br/>
</div>
