<nav class="navbar navbar-default custom" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/" ><img src="assets/image/foto.png" (click)="goUrl()" id="logo" alt="Turismo City"/>
        </a>
      </div>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/" (click)="goUrl()" ><i class="fa fa-home"></i> Home</a></li>
          <li><a routerLink="/about"><i class="fa fa-info"></i>  About</a></li>
          <li><a routerLink="/contact"><i class="fa fa-envelope-o"></i> Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
