<nav class="navbar navbar-default custom" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink="/"><img src="assets/image/foto.png" id="logo" alt="Turismo City"/>
        </a>
      </div>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a routerLink="/"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
          <li><a routerLink="/about"><span class="glyphicon glyphicon-edit"></span>  About</a></li>
          <li><a routerLink="/contact"><span class="glyphicon glyphicon-envelope"></span>  Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
