body{
	margin: 0;
	padding: 0;
}

/*Definindo tamanho original dos elementos*/
img,
embed,
figure{
	max-width: 100%;

}

/*Bordagem largura e altura determinado*/
*,*before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: border-box;
}