*{
	font-family: serif;
}

body{
	 position: absolute;    
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}



/*Definindo tamanho original dos elementos*/
img,
embed,
figure{
	max-width: 100%;
}

/*Bordagem largura e altura determinado*/
*,*before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-shadow: border-box;
}

h4{
	color: #fff;
}